This app is using node.js and MySQL to create a module of online shopping.


**This link is where to show how the app work

https://drive.google.com/file/d/1ljipUDr4XVgov1xgHFxRvXFl9fvcZD0_/view
node_modules
